* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.container {
    width: 750px;
    margin: 50px 250px;
}

.letter {
    width: 40px;
    height: 30px;
    margin: 5px;
    display: inline-block;
    border: 1px solid lightgrey;
    padding-top: 1%;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.board {
    padding-top: 40px;
    text-align: center;
    /* vertical-align: bottom; */
    font-size: 20px;
    font-weight: bold;
}

.board div {
    display: inline-block;
    width: 60px;
    height: 60px;
    border: 1px solid lightblue;
    margin: 10px;
}

.guessed {
    color: blue;
    background: black;
}